Mambo_Job_Hunter_Clean.json
{
  "name": "Mambo Job Hunter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        144
      ],
      "id": "9d587f2f-4449-41b1-b79f-135ef2b17b73",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        480
      ],
      "id": "f73a1d50-8c3d-4e9e-b77c-d259928cf324",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        160,
        496
      ],
      "id": "22f19c90-e29e-473f-adcc-2892ba93c7c5",
      "name": "Wait",
      "webhookId": "e143840a-a81e-442f-a0cc-956819c5f7ec"
    },
    {
      "parameters": {
        "url": "=https://www.myjobmag.co.ke{{ $json.jobUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        512
      ],
      "id": "7fa82b49-6738-4a46-957b-ecd003796d56",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "jobTitle",
              "cssSelector": "h1"
            },
            {
              "key": "location",
              "cssSelector": ".job-key-info li:nth-child(4) .jkey-info"
            },
            {
              "key": "experience",
              "cssSelector": ".job-key-info li:nth-child(3) .jkey-info"
            },
            {
              "key": "salary",
              "cssSelector": ".job-key-info li:nth-child(6) .jkey-info"
            },
            {
              "key": "description",
              "cssSelector": ".job-details"
            },
            {
              "key": "deadline",
              "cssSelector": ".read-date-sec-li:nth-child(2)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        656,
        496
      ],
      "id": "2fdf93bd-a4d7-4419-989e-4fae92a20a77",
      "name": "HTML1"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst jobUrl = $node[\"Loop Over Items\"].json.jobUrl;\n\n// Clean location - remove [/jobs-location/...] parts\nconsole.log(JSON.stringify(item));\nconst cleanLocation = item.location\n  ? item.location\n      .replace(/\\[\\/jobs-location\\/[^\\]]*\\]/g, '')\n      .replace(/\\n/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim()\n  : '';\n\n// Extract company from jobTitle\nconst titleParts = item.jobTitle\n  ? item.jobTitle.split(' at ')\n  : ['', ''];\nconst cleanTitle = titleParts[0].trim();\nconst company = titleParts.slice(1).join(' at ').trim();\n\n// Clean deadline\nconst cleanDeadline = item.deadline\n  ? item.deadline.replace('Deadline:', '').trim()\n  : '';\n\n// Clean description - remove excess newlines\nconst cleanDescription = item.description\n  ? item.description.replace(/\\n{3,}/g, '\\n\\n').trim()\n  : '';\n\nreturn [{\n  json: {\n    jobTitle: cleanTitle,\n    company: company,\n    location: cleanLocation,\n    experience: item.experience || '',\n    salary: item.salary || '',\n    deadline: cleanDeadline,\n    description: cleanDescription,\n    jobUrl: 'https://www.myjobmag.co.ke' + (jobUrl || '')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        480
      ],
      "id": "c31a6e40-62f2-4718-9c78-ccd0b0227b7c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_CV_FILE_ID",
          "mode": "list",
          "cachedResultName": "your_cv.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/YOUR_CV_FILE_ID/view"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        144
      ],
      "id": "6f78caa8-7288-4dda-b030-0c805cdca1ec",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        144
      ],
      "id": "801ae791-fdf1-47bf-b168-fe55e6d3b7c9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5eb17ea6-011f-4a0b-ac2b-0bcd925dc4b7",
              "name": "cvText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "9c98a608-aed3-4dc2-a819-d495b9ce1515",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        144
      ],
      "id": "5e058b5d-5895-4b09-93b2-6fbac6b496ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the candidate CV:\n\n{{ $('Edit Fields').first().json.cvText }}\n\nHere is the job to evaluate:\n\nTitle: {{ $json.jobTitle }}\nCompany: {{ $json.company }}\nLocation: {{ $json.location }}\nExperience Required: {{ $json.experience }}\nSalary: {{ $json.salary }}\nJob Description: {{ $json.description }}\n\nReturn only the JSON.",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a job matching assistant. Compare the\n  candidate's CV against the job description and\n  determine suitability. Respond ONLY with a valid\n  JSON object in this exact format:\n  {\n    \"score\": <number from 1 to 10>,\n    \"reason\": \"<one sentence explaining the score>\",\n    \"suitable\": <true or false>\n    \"applicationType\": \"<Email or Form or Manual or Unknown>\",\n    \"contactEmail\": \"<email address or null>\"\n  }\n  No extra text. No explanation outside the JSON.\n\n================================================================\nRULES\n================================================================\n\nscore:\n  1-3  = Poor match, missing key requirements\n  4-6  = Partial match, some relevant experience\n  7-8  = Good match, most requirements met\n  9-10 = Excellent match, near perfect fit\n\napplicationType:\n  Email   = description contains an email to apply to\n  Form    = description says apply via website/link\n  Manual  = walk-in or physical application\n  Unknown = no clear application method stated\n\ncontactEmail:\n  Extract the exact email address if present\n  in the job description. Return null if none found.\n\n\nUser Message (switch to Expression mode):\n  Here is the candidate CV:\n\n  {{ $('Edit Fields').first().json.cvText }}\n\n  Here is the job to evaluate:\n\n  Title: {{ $json.jobTitle }}\n  Company: {{ $json.company }}\n  Location: {{ $json.location }}\n  Experience Required: {{ $json.experience }}\n  Salary: {{ $json.salary }}\n  Job Description: {{ $json.description }}\n\n  Return only the JSON.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        432
      ],
      "id": "24a0a876-c15b-49dd-b6dd-c6bf8f7d40b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = items[0].json.output;\nconst jobData = $('Code in JavaScript1').first().json;\n\nlet parsed;\ntry {\n  const cleaned = aiOutput.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {\n    score: 0,\n    reason: \"Could not parse AI response\",\n    suitable: false,\n    applicationType: \"Unknown\",\n    contactEmail: null\n  };\n}\n// Auto-set status based on score\nlet status = \"New\";\nif (parsed.score >= 7) {\n  status = \"Applying\";\n}\nreturn [{\n  json: {\n    jobTitle:   jobData.jobTitle,\n    company:    jobData.company,\n    location:   jobData.location,\n    experience: jobData.experience,\n    salary:     jobData.salary,\n    deadline:   jobData.deadline,\n    jobUrl:     jobData.jobUrl,\n    aiScore:    parsed.score,\n    aiReason:   parsed.reason,\n    suitable:   parsed.suitable,\n    applicationType: parsed.applicationType,\n    contactEmail:    parsed.contactEmail || '',\n    status:          status,\n    dateFound:       new Date().toISOString().split('T')[0],\n    coverLetterUrl:  '',\n    cvUrl:           '',\n    appliedDate:     '',\n    notes:           ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        528
      ],
      "id": "782f0a99-5b51-4308-9ce0-ede8608e8bf1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Job Matches Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Title": "={{ $json.jobTitle }}",
            "Company": "={{ $json.company }}",
            "Location": "={{ $json.location }}",
            "Experience": "={{ $json.experience }}",
            "Salary": "={{ $json.salary }}",
            "Deadline": "={{ $json.deadline }}",
            "Job URL": "={{ $json.jobUrl }}",
            "AI Score": "={{ $json.aiScore }}",
            "AI Reason": "={{ $json.aiReason }}",
            "Suitable": "={{ $json.suitable }}",
            "Status": "={{ $json.status }}",
            "Application Type": "={{ $json.applicationType }}",
            "Contact Email": "={{ $json.contactEmail }}",
            "Cover Letter URL": "={{ $json.coverLetterUrl }}",
            "CV URL": "={{ $json.cvUrl }}",
            "Applied Date": "={{ $json.appliedDate }}",
            "Date Found": "={{ $json.dateFound }}",
            "Notes": "={{ $json.notes }}"
          },
          "matchingColumns": [
            "Job URL"
          ],
          "schema": [
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suitable",
              "displayName": "Suitable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application Type",
              "displayName": "Application Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter URL",
              "displayName": "Cover Letter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV URL",
              "displayName": "CV URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied Date",
              "displayName": "Applied Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Found",
              "displayName": "Date Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        336
      ],
      "id": "8637ad2f-6ff3-4406-8ea0-49e627a4bcc1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pages = [];\nfor (let i = 1; i <= 10; i++) {\n  pages.push({\n    json: {\n      pageUrl: `https://www.myjobmag.co.ke/search/jobs?q=&currentpage=${i}`,\n      pageNumber: i\n    }\n  });\n}\nreturn pages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        144
      ],
      "id": "400c8ef1-9710-4954-91d4-ebcc0b856325",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        160
      ],
      "id": "c16f663e-89a0-43e4-a2b7-95ca421bd8f3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{ $json.pageUrl }}   ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)  AppleWebKit/537.36 (KHTML, like Gecko)  Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        176
      ],
      "id": "b0c7b619-b259-481f-acc9-526a787f2e1f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "jobTitle",
              "cssSelector": "h2 a",
              "returnArray": true
            },
            {
              "key": "jobUrl",
              "cssSelector": "h2 a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "datePosted",
              "cssSelector": "#job-date",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1040,
        176
      ],
      "id": "e16ee2de-840d-473d-8731-9edd162a6ddd",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.jobTitle.map((title, index) => {\n  return {\n    json: {\n      jobTitle:   title,\n      jobUrl:     items[0].json.jobUrl[index],\n      datePosted: items[0].json.datePosted[index]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        176
      ],
      "id": "e11ecabd-17fb-4ef9-9ffa-aa297adafde3",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        176
      ],
      "id": "feae2437-fcd4-4f23-89c8-0ce22559f51b",
      "name": "Wait1",
      "webhookId": "1637c6c4-1bd3-46e4-bc5c-e00918504546"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-4b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1232,
        624
      ],
      "id": "2f3e9fd2-f870-4c04-8597-ca76df113bef",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        640
      ],
      "id": "09516e19-269a-4d66-b4ad-d04e8fd48650",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cc93723-2c44-4884-887b-518a0d6610ee",
              "leftValue": "={{ $json.aiScore }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        400
      ],
      "id": "58cc6041-c26c-45b3-9d7f-269d02a85180",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
